.app {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.color-name-wrapper {
  position: absolute;
  left: 10%;
  top: 0px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: center;
  font-size: 18vw;
  font-weight: bold;
  color: #00000038;
  height: 100vh;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.credit {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #0000006b;
  word-spacing: 4px;
  font-size: 15px;
}
.credit > a {
  color: #000000a8;
}
